{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soorganized</title>
    <link rel="stylesheet" href=" {% static 'style-app.css' %} ">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico'%}">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@6.1.6/index.global.min.js'></script>

</head>
<body>
{% block content %}
{% endblock content %}
<script src="{% static 'script.js' %}"></script>
</body>
</html>