{% extends 'base.html' %}
{% block content %}
{% load widget_tweaks %}
    <form class="form" method="post">
        {% csrf_token %}
        <h1><strong>Zaloguj się</strong></h1>
        <!--<input type="text" placeholder="Nazwa Użytkownika" name="nick" id="nick"  ></input>-->
        {% render_field form.mail class="input" %}
        <span>Adres e-mail</span>
        {{ form.mail.errors}}
        <br>
        <!--<input type="password" placeholder="Hasło" name="password" id="password" ></input>-->
        {% render_field form.password class="input" type="password" %}
        <span>Hasło</span>
        {{form.password.errors}}
        <br>
        <input type="submit" value="Zaloguj się" class="button" name="login" id="login"  ></input>
        <br>
        <br>
        <br>
        <br>
        <span>Nie masz jeszcze konta? <a href="{% url 'register'%}">Zarejestruj się!</a></span>
        <br>
        <br>
        <span>Nie pamietasz hasła? Nie ma problemu! <a href="{% url 'passrec'%}">Odzyskaj hasło teraz!</a></span>
    </form>
{% endblock content %}