{% extends 'base.html' %}
{% block content %}
    <form name="form" onsubmit="return validateform()" class="form">
        <h1><strong>Zaloguj się</strong></h1>
        <input type="text" placeholder="Nazwa Użytkownika" name="nick" id="nick"  ></input>
        <br>
        <input type="password" placeholder="Hasło" name="password" id="password" ></input>
        <br>
        <input type="submit" value="Zaloguj się" class="button" name="login" id="login"  ></input>
        <br>
        <br>
        <br>
        <br>
        <span>Nie masz jeszcze konta? <a href="{% url 'register'%}">Zarejestruj się!</a></span>
        <br>
        <br>
        <span>Nie pamietasz hasła? Nie ma problemu! <a href="{% url 'passrec'%}">Odzyskaj hasło teraz!</a></span>
    </form>
{% endblock content %}