{% extends 'base-login.html' %}
{% block content %}
    <form name="form" class="form">
        {% csrf_token %}
        <h1><strong>Odzyskiwanie Hasła</strong></h1>
        <span>Aby odzyskać hasło podaj poniżej adres e-mail przy pomocy którego konto zostało założone. Jeżeli konto istnieje, dostaniesz informację z instrukcjami na skrzynkę mailową.</span>
        {% render_field form.mail class="input" %}
        <label>Adres e-mail</label>
        <br>
        <input class="input" type="submit" value="Odzyskaj Hasło" class="button" name="login" id="login"></input>
        <br>
    </form>
{% endblock content %}