{% extends 'base.html' %}
{% block content %}
    <form name="form" onsubmit="return validateform()" class="form">
        <h1><strong>Odzyskiwanie Hasła</strong></h1>
        <span>Aby odzyskać hasło podaj poniżej adres e-mail przy pomocy którego konto zostało założone. Jeżeli konto istnieje, dostaniesz informację z instrukcjami na skrzynkę mailową.</span>
        <input type="text" placeholder="Adres e-mail" name="mail" id="mail"  ></input>
        <br>
        <input type="submit" value="Odzyskaj Hasło" class="button" name="login" id="login"  ></input>
        <br>
    </form>
{% endblock content %}