{% extends 'base-login.html' %}
{% block content %}
{% load widget_tweaks %}
    <form method="post" class="form">
        {% csrf_token %}
        <h1><strong>Utwórz konto</strong></h1>
        {% render_field form.mail class="input"%}
        <label for="id_mail">Adres e-mail<label>
        {{ form.mail.errors}}
        <br>
        {% render_field form.nick class="input"%}
        <span>Nazwa użytkownika</span>
        {{ form.nick.errors}}
        <br>
        {% render_field form.password1 class="input" type="password"%}
        <span>Hasło</span>
        {{ form.password1.errors}}
        <br>
        {% render_field form.password2 class="input" type="password"%}
        <span>Potwierdź hasło</span>
        {{ form.password2.errors}}
        <br>
        <input type="submit" value="Zarejestruj się" class="button" name="login" id="login"  ></input>
        <br>
    </form>
{% endblock content %}