{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soorganized</title>
    <link rel="stylesheet" href=" {% static 'style.css' %} ">
</head>
<body>

    <form name="form" onsubmit="return validateform()" class="form">
        <h1><strong>Utwórz konto</strong></h1>
        <input type="text" placeholder="Adres e-mail" name="mail" id="mail"  ></input>
        <br>
        <input type="text" placeholder="Nazwa Użytkownika" name="nick" id="nick"  ></input>
        <br>
        <input type="password" placeholder="Hasło" name="password" id="password" ></input>
        <br>
        <input type="password" placeholder="Powtórz hasło" name="password" id="password" ></input>
        <br>
        <input type="submit" value="Zarejestruj się" class="button" name="login" id="login"  ></input>
        <br>
    </form>
<script src="{% static 'script.js' %}"></script>
</body>
</html>